<div class="container-fluid fondoGeneral confondoBrillante pt-2">
    <nav class="module-shell__tabs" aria-label="Secciones de vehiculos">
        <ng-container *ngFor="let item of permisos?.recursosHijos">
            <a
                *ngIf="item.direccion != undefined && item.direccion.length > 0"
                class="module-shell__tab"
                routerLinkActive="is-active"
                [routerLink]="item.direccion"
            >
                {{ item.display_nombre }}
            </a>
        </ng-container>
    </nav>
    <router-outlet></router-outlet>

    <br>
    <br>
</div>
