<div class="app-doc-dropdown">
    <div class="btn-group app-doc-dropdown__group dropend">
<button type="button" class="btn app-doc-dropdown__value">
    <ng-container *ngIf="selectedValue?.campo_info_1 !== undefined  && selectedValue?.campo_info_1 != ''">
        <i *ngIf="selectedValue?.campo_info_1 !== 'Comprobante' " class="bi bi-car-front"></i> 
        <i *ngIf="selectedValue?.campo_info_1 == 'Comprobante' " class="bi bi-shield"></i> 
        <span *ngIf="selectedValue?.campo_info_1 !== 'Comprobante' " >{{selectedValue?.campo_info_1}}</span>
        <span *ngIf="selectedValue?.campo_info_1 == 'Comprobante' ">{{selectedValue?.campo_info_2}}</span> ==>
    </ng-container>
    <ng-container *ngIf="selectedValue?.campo_info_1  == undefined || selectedValue?.campo_info_1 == ''">
       
        <i class="bi bi-receipt"></i> ==>
    </ng-container>
    
    <span *ngIf="selectedValue?.campo_info_2 !== 'Compra' ">{{selectedValue?.orden?.toString()?.padStart(10, '0000000000')}}</span>
    <span *ngIf="selectedValue?.campo_info_2  == 'Compra' ">{{selectedValue?.idDocumentoFinal}}</span>

</button>
<button type="button" class="btn app-doc-dropdown__action" (click)="triggerExternalFunction()">
        <i class="bi bi-arrow-repeat" [ngClass]="{'fa-spin': vueltas==true}"></i>
</button>
<button type="button" class="btn app-doc-dropdown__toggle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
 </button>
<ul class="dropdown-menu app-doc-dropdown__menu" aria-labelledby="dropdownMenuOffset">
    <li *ngFor="let option of options" (click)="selectOption(option)">  
        <a class="dropdown-item app-doc-dropdown__item">
            <span>
        <ng-container *ngIf="option.campo_info_1 !== undefined && option.campo_info_1 != ''">
            <i *ngIf="option.campo_info_1 !== 'Comprobante' " class="bi bi-car-front"></i> 
            <i *ngIf="option.campo_info_1 == 'Comprobante' " class="bi bi-shield"></i>  
           ==>
           <span *ngIf="option.campo_info_1 !== 'Comprobante' " >{{option.campo_info_1}}</span>

           <span *ngIf="option.campo_info_1 == 'Comprobante' ">{{option.campo_info_2}}</span>  :: 
        </ng-container>
        <ng-container *ngIf="option.campo_info_1 === undefined || option?.campo_info_1 == ''">
            <span  *ngIf="option?.listado?.length??0 > 0" >L:</span>
             <i class="bi bi-receipt"></i>==>
        </ng-container> 
    
        <ng-container  *ngIf="option?.campo_info_2 !== 'Compra' ">{{option?.orden?.toString()?.padStart(10, '0000000000')}} </ng-container>
        <ng-container  *ngIf="option?.campo_info_2  == 'Compra' ">{{option?.idDocumentoFinal}}</ng-container>
    
    </span>  
    </a>  
      </li>
  </ul>
</div></div>
 
