<section class="module-shell">
    <nav class="module-shell__tabs" aria-label="Secciones de traslados contables">
        <a [routerLink]="['desdeCaja']" routerLinkActive="is-active" class="module-shell__tab">Desde caja</a>
        <a [routerLink]="['asignarSaldos']" routerLinkActive="is-active" class="module-shell__tab">Asignar saldos</a>
        <a [routerLink]="['moverHaciaMuchasCnts']" routerLinkActive="is-active" class="module-shell__tab">Una a muchas</a>
        <a [routerLink]="['moverDesdeMuchasCnts']" routerLinkActive="is-active" class="module-shell__tab">Muchas a una</a>
    </nav>

    <div class="module-shell__content">
        <router-outlet></router-outlet>
    </div>
</section>
